:root {
	--clr-white:  #ffffff;
	--clr-black:  #000000;
	--clr-yellow:  #ffc600;
	font-size: 20px;
	background-image: url('background.jpeg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.keys {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	flex-wrap: wrap;
}

.key {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: .25rem solid var(--clr-black);
	border-radius: .25rem;
	margin: .5rem;
	font-size: .75rem;
	width: 5rem;
	text-align: center;
	color: var(--clr-white);
	background-color: rgba(0, 0, 0, .4);
	text-shadow: 0 0 .25rem var(--clr-black);
	text-transform: uppercase;
	padding: .25rem;
	transition: all .07s ease;
}

.key__sign {
	display: block;
	font-size: 2rem;
}

.key__sound {
	font-size: .6rem;
	letter-spacing: .05rem;
	color: var(--clr-yellow);
}

.playing {
	transform: scale(1.1);
	border-color: var(--clr-yellow);
	box-shadow: 0 0 .5rem var(--clr-yellow);
}
