:root {
	--clr-white: #FFFFFF;
	--clr-black: #000000;
	--clr-yellow: #FFC600;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	background-image: url('../images/background.jpeg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.keys {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: stretch;
	justify-content: center;
	min-height: 100vh;
}

.key {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 5rem;
	padding: .25rem;
	margin: .5rem;
	font-size: .75rem;
	color: var(--clr-white);
	text-align: center;
	text-shadow: 0 0 .25rem var(--clr-black);
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, .4);
	border: .25rem solid var(--clr-black);
	border-radius: .25rem;
	transition: all .07s ease;
}

.key__sign {
	display: block;
	font-size: 2rem;
}

.key__sound {
	font-size: .6rem;
	color: var(--clr-yellow);
	letter-spacing: .05rem;
}

.playing {
	border-color: var(--clr-yellow);
	box-shadow: 0 0 .5rem var(--clr-yellow);
	transform: scale(1.1);
}
